
body {
    max-width: 1200px;
    margin:auto;
    background-color: rgb(234, 228, 237);
    text-align: center;
    text-decoration: none;
    font-family: "p22-nudgewink-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 10px

      }
      
h1  {
    font-family: "p22-nudgewink-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
}

h2 {

    font-family: "sirenia", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

h3 {

    font-size: 27px;
    font-family: "peachy-keen-jf", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h6 {  font-family: "p22-nudgewink-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
}

header {
    width: max-content;
    padding: 10px;
    position: fixed;
    top: 15px;
    left: 15px;
    text-align: center;
    text-decoration: none;
    font-family: "p22-nudgewink-pro", sans-serif;
    font-weight: 700;
    font-style: normal;

}

nav {
    width: 400px;
    background-position: left;
    position:fixed;
    top: 15px;
    right: 15px;
    text-align: center;
    font-family: "sirenia", sans-serif;
    font-weight: 400;
    font-style: normal;

}

main{
    width: 650px;
    margin-left: 300px;
}

section {
    border: 5px rgb(205, 113, 196) solid;
    border-radius: 10px;
    margin-top: 25px;
    background-color: rgb(238, 204, 236);
    text-align: center;
    padding: 30px;
    text-decoration: none;
    padding: none;
   
}

section img {
    border: 0px darkblue solid;
    padding: 30px;
    text-decoration: none;
   
}

footer {    
    width: 300px;
    position: fixed;
    text-align: center;
    text-decoration: none;
    padding: 30px

}