@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Poiret+One&display=swap');



body {
    max-width: 1200px;
    margin:auto;
    background-color: rgb(237, 228, 240);
    text-align: center;
    text-decoration: none;

    
}

header {
    width: max-content;
    position: fixed;
    top: 15px;
    left: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: transducer-variable, sans-serif;
    font-style: normal;
    font-variation-settings: "slnt" 0, "wdth" 100, "wght" 400;
}

nav {
    width: 400px;
    background-position: left;
    position:fixed;
    top: 15px;
    right: 15px;
    text-align: center;

}

main{
    width: 650px;
    margin-left: 300px;
}

section {
    border: 5px rgb(205, 113, 196) solid;
    border-radius: 10px;
    margin-top: 25px;
    background-color: rgb(235, 165, 54);
    text-align: center;
    padding: 5px;
    text-decoration: none;
   
}

section img {
    border: 0px darkblue solid;
    padding: 5px;
    text-decoration: none;
   
}

footer {    
    width: 300px;
    position: fixed;
    text-align: center;
    text-decoration: none;
   
}
